@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@
<section></section>
<section>
    <div class="products top-seller">
        <div class="col-xs-12 col-sm-6 col-md-3	col-lg-3">
            <div class="product-des">
                <span>Kiwi fruit</span>
                <span class="price">$2 per 1 unit</span>
            </div>
            <div class="add-cart"><i class="icon icon-cart"></i>Add to cart</div>
            <a class="read more" href=""><i class="icon icon-plus"></i></a>
            <div class="product-detail">
                <p>
                    A kiwi fruit is hairy on the outside and soft in the middle. It is one of the only fruits to be green when it is ripe. You can scoop out the juicy green flesh with a spoon just like a boiled egg! One kiwi fruit contains all the vitamin C you need for a whole day. Vitamin C helps your body to heal cuts and bruises and to fight colds.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3	col-lg-3">
            <img src="" />
            <div class="product-des">
                <span>Broccoli</span>
                <span class="price">$2 per 1 unit</span>
            </div>
            <div class="add-cart"><i class="icon icon-cart"></i>Add to cart</div>
            <a class="read more" href=""><i class="icon icon-plus"></i></a>
            <div class="product-detail">
                <p>
                    Broccoli is closely related to cabbage - and it's another one of those 'greens' we're always being told to eat up. The part of a broccoli plant we normally eat is the lovely flowerhead - the flowers are usually green but sometimes purple. Steamed broccoli is tasty in a salad or stir-fry.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3	col-lg-3">
            <img src="" />
            <div class="product-des">
                <span>Pepper</span>
                <span class="price">$2 per 1 unit</span>
            </div>
            <div class="add-cart"><i class="icon icon-cart"></i>Add to cart</div>
            <a class="read more" href=""><i class="icon icon-plus"></i></a>
            <div class="product-detail">
                <p>
                    Peppers can be red, yellow, green or orange - some are even white or purple! If you don't like the way one colour tastes, you might like another. The green ones are less sweet - red peppers are actually ripened green peppers.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3	col-lg-3">
            <img src="" />
            <div class="product-des">
                <span>Strawberry</span>
                <span class="price">$2 per 1 unit</span>
            </div>
            <div class="add-cart"><i class="icon icon-cart"></i>Add to cart</div>
            <a class="read more" href=""><i class="icon icon-plus"></i></a>
            <div class="product-detail">
                <p>
                    Anyone for tennis? Followed by some strawberries of course! Around 25,000kg of strawberries are eaten at Wimbledon each year. Strawberries are actually members of the rose family. They are the only fruits to have their seeds on the outside - one strawberry can have as many as 200.
                </p>
            </div>
        </div>
    </div>
</section>